In [1]:
import tensorflow as tf
import statistics
# import tensorflow_probability as tfp
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../combined data.csv')
df

,game_id,Datetime,Team1 ID,Team2 ID,Team1 Score,Team2 Score,Point Differential,Team1 Home,Team2 Home,Team1 team_id,...,Team2 KenPom Def Eff,Team2 KenPom AdjTempo,Team2 KenPom SOS,Team2 KenPom Off SOS,Team2 KenPom Def SOS,Team2 BT Eff Height,Team2 BT WAB,Team2 BT Power,Team2 BT Experience,Team2 BT Talent
0,514736,11/14/2014 0:00,Alabama A&M_2015,Dayton_2015,52,76,-24,0,1,Alabama A&M_2015,...,95.0,63.4,3.39,105.4,102.0,78.250,0.938,0.798,1.540,46.592
1,514738,11/14/2014 0:00,Alcorn St._2015,California_2015,57,91,-34,0,1,Alcorn St._2015,...,99.0,65.3,5.58,107.8,102.2,80.886,-3.497,0.641,1.637,52.204
2,514740,11/14/2014 0:00,American_2015,Temple_2015,37,40,-3,0,1,American_2015,...,94.2,65.4,2.21,104.8,102.6,80.368,-0.276,0.794,1.941,49.622
3,514742,11/14/2014 0:00,Ball St._2015,Utah_2015,72,90,-18,0,1,Ball St._2015,...,89.2,60.5,8.19,108.8,100.6,81.657,3.720,0.945,1.554,27.543
4,514743,11/14/2014 0:00,Charleston Southern_2015,Mississippi_2015,66,65,1,0,1,Charleston Southern_2015,...,100.6,66.2,7.10,107.3,100.2,80.963,-0.661,0.787,2.280,46.963
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52033,5254271,4/2/2024 0:00,Utah_2024,Indiana St._2024,90,100,-10,0,0,Utah_2024,...,103.2,70.9,3.07,107.7,104.7,80.221,1.928,0.852,2.079,0.200
52034,5254269,4/4/2024 0:00,Indiana St._2024,Seton Hall_2024,77,79,-2,0,0,Indiana St._2024,...,98.1,66.8,10.10,111.8,101.7,79.886,0.943,0.856,2.484,62.979
52035,5254134,4/6/2024 0:00,Alabama_2024,Connecticut_2024,72,86,-14,0,0,Alabama_2024,...,91.1,64.6,12.42,113.2,100.8,81.643,11.210,0.980,1.710,58.255
52036,5254135,4/6/2024 0:00,N.C. State_2024,Purdue_2024,50,63,-13,0,0,N.C. State_2024,...,94.6,67.0,14.65,114.4,99.8,83.272,10.620,0.965,1.854,52.251
52037,5254137,4/8/2024 0:00,Purdue_2024,Connecticut_2024,60,75,-15,0,0,Purdue_2024,...,91.1,64.6,12.42,113.2,100.8,81.643,11.210,0.980,1.710,58.255

In [3]:
df = df.drop(columns=["game_id", "Datetime", "Team1 ID", "Team2 ID", "Team1 Score", "Team2 Score", "Team1 team_id", "Team1 Team1 team_name", "Team1 year", "Team2 team_id", "Team2 team_name", "Team2 year"])
df = df.dropna()
df.dtypes

Point Differential       int64
Team1 Home               int64
Team2 Home               int64
Team1 Pts/Gm           float64
Team1 Opp. Pts/Gm      float64
                        ...
Team2 BT Eff Height    float64
Team2 BT WAB           float64
Team2 BT Power         float64
Team2 BT Experience    float64
Team2 BT Talent        float64
Length: 103, dtype: object

In [4]:
train_df = df.sample(frac = 0.7)
test_df = df.drop(train_df.index)



# mean_val = tf.reduce_mean(train_df)
# std_dev = np.std(train_df)
# normalized_train = (train_df - mean_val) / std_dev

# normalized_test = (test_df - mean_val) / std_dev
# min_val = train_df.min(axis = 0)
# max_val = train_df.max(axis = 0)
# val_range = max_val - min_val
# train_df = (train_df - min_val) / val_range
# test_df = (test_df - min_val) / val_range

y_train = train_df['Point Differential']
y_test = test_df['Point Differential']

x_train = train_df.drop('Point Differential', axis = 1)
x_test = test_df.drop('Point Differential', axis = 1)

normalizer = tf.keras.layers.Normalization(axis=-1)
normalizer.adapt(np.array(x_train))

In [5]:
print(x_train)
print(y_train)
print(x_test)
print(y_test)

       Team1 Home  Team2 Home  Team1 Pts/Gm  Team1 Opp. Pts/Gm  Team1 FG%  \
5773            0           0          67.6               69.7       39.1
14153           0           1          68.8               75.2       39.5
6805            0           1          66.1               77.5       41.4
7873            0           1          79.5               72.3       43.5
8910            0           1          78.9               78.3       44.2
...           ...         ...           ...                ...        ...
44789           0           1          68.3               75.1       43.0
41289           0           1          70.0               62.8       45.8
11552           0           0          76.8               81.0       45.7
23546           0           1          68.2               70.7       40.9
2232            0           1          78.3               69.5       46.5

       Team1 Opp. FG%  Team1 2Pt%  Team1 Opp. 2Pt%  Team1 3Pt%  \
5773             41.9        44.7             46.5        29.9
14153            45.1        43.5             48.9        32.0
6805             45.0        47.7             49.3        30.9
7873             39.5        47.2             45.3        36.6
8910             46.0        51.1             52.2        35.5
...               ...         ...              ...         ...
44789            48.2        47.3             53.9        34.1
41289            40.6        52.7             45.8        35.2
11552            46.3        49.4             49.6        33.7
23546            43.8        48.1             50.3        30.3
2232             44.4        53.1             51.4        38.7

       Team1 Opp. 3Pt%  ...  Team2 KenPom Def Eff  Team2 KenPom AdjTempo  \
5773              32.4  ...                 113.1                   67.7
14153             37.8  ...                 104.5                   70.8
6805              35.9  ...                 112.7                   69.7
7873              31.4  ...                 107.9                   71.4
8910              34.3  ...                 101.0                   66.2
...                ...  ...                   ...                    ...
44789             36.8  ...                 111.1                   68.6
41289             32.3  ...                  98.9                   68.6
11552             38.4  ...                 103.1                   68.8
23546             32.5  ...                  98.2                   70.8
2232              30.0  ...                  94.9                   66.5

       Team2 KenPom SOS  Team2 KenPom Off SOS  Team2 KenPom Def SOS  \
5773              -6.92                 100.2                 107.1
14153              1.21                 105.4                 104.2
6805              -4.41                 103.0                 107.5
7873              -4.06                 102.3                 106.4
8910               3.43                 106.0                 102.6
...                 ...                   ...                   ...
44789             -7.30                 102.3                 109.6
41289              6.84                 108.4                 101.5
11552              2.14                 105.4                 103.2
23546              5.56                 107.3                 101.7
2232               6.65                 107.9                 101.2

       Team2 BT Eff Height  Team2 BT WAB  Team2 BT Power  Team2 BT Experience  \
5773                78.158       -10.823           0.293                1.902
14153               80.187        -8.919           0.378                1.289
6805                80.430       -14.529           0.238                1.425
7873                79.513        -6.916           0.414                1.164
8910                81.219        -0.771           0.844                2.257
...                    ...           ...             ...                  ...
44789               78.926        -9.320           0.301                2.184
41289               81.583         2.924           0.867                2.545
11552               81.241        -5.312           0.620                1.589
23546               80.314         0.235           0.769                1.328
2232                78.797         3.125           0.830                1.389

       Team2 BT Talent
5773             0.200
14153           13.656
6805            24.737
7873             6.956
8910            15.521
...                ...
44789            0.200
41289           15.410
11552           41.879
23546           71.073
2232            40.345

[34283 rows x 102 columns]
5773      9
14153    -4
6805    -18
7873     12
8910    -10
         ..
44789   -10
41289   -22
11552   -16
23546     1
2232     -6
Name: Point Differential, Length: 34283, dtype: int64
       Team1 Home  Team2 Home  Team1 Pts/Gm  Team1 Opp. Pts/Gm  Team1 FG%  \
1               0           1          63.4               74.2       38.8
4               0           1          71.4               70.6       40.6
6               0           1          66.4               67.7       42.1
13              0           1          55.2               67.5       36.7
15              0           1          63.1               62.0       43.4
...           ...         ...           ...                ...        ...
52025           0           0          75.6               71.8       45.0
52026           0           0          83.4               69.5       51.3
52028           0           0          77.4               71.2       46.9
52030           0           0          78.8               67.4       44.0
52035           0           0          90.1               81.2       47.6

       Team1 Opp. FG%  Team1 2Pt%  Team1 Opp. 2Pt%  Team1 3Pt%  \
1                47.2        43.3             51.0        28.4
4                44.9        46.7             50.5        33.7
6                42.7        46.9             48.9        34.6
13               45.4        40.6             50.0        30.2
15               43.0        49.7             47.2        35.9
...               ...         ...              ...         ...
52025            43.3        50.2             49.0        34.5
52026            41.1        58.3             45.1        36.2
52028            41.4        54.7             47.1        35.1
52030            38.9        50.7             44.3        34.4
52035            43.7        56.6             50.8        37.3

       Team1 Opp. 3Pt%  ...  Team2 KenPom Def Eff  Team2 KenPom AdjTempo  \
1                 38.2  ...                  99.0                   65.3
4                 36.7  ...                 100.6                   66.2
6                 31.5  ...                  97.7                   62.1
13                38.1  ...                  98.7                   65.8
15                33.1  ...                  99.5                   64.1
...                ...  ...                   ...                    ...
52025             33.5  ...                  95.2                   69.1
52026             34.1  ...                  94.6                   67.0
52028             33.1  ...                 103.0                   72.6
52030             31.2  ...                  94.6                   67.0
52035             31.7  ...                  91.1                   64.6

       Team2 KenPom SOS  Team2 KenPom Off SOS  Team2 KenPom Def SOS  \
1                  5.58                 107.8                 102.2
4                  7.10                 107.3                 100.2
6                  3.07                 104.8                 101.7
13                 6.57                 106.7                 100.2
15                -3.44                 101.6                 105.0
...                 ...                   ...                   ...
52025             13.60                 113.4                  99.8
52026             14.65                 114.4                  99.8
52028             14.71                 115.1                 100.4
52030             14.65                 114.4                  99.8
52035             12.42                 113.2                 100.8

       Team2 BT Eff Height  Team2 BT WAB  Team2 BT Power  Team2 BT Experience  \
1                   80.886        -3.497           0.641                1.637
4                   80.963        -0.661           0.787                2.280
6                   81.716        -3.294           0.703                1.308
13                  79.758        -3.811           0.753                1.890
15                  79.900        -4.512           0.562                1.142
...                    ...           ...             ...                  ...
52025               81.652         6.650           0.929                1.899
52026               83.272        10.620           0.965                1.854
52028               82.460         3.316           0.915                2.102
52030               83.272        10.620           0.965                1.854
52035               81.643        11.210           0.980                1.710

       Team2 BT Talent
1               52.204
4               46.963
6               80.193
13              29.446
15               0.200
...                ...
52025           57.032
52026           52.251
52028           27.770
52030           52.251
52035           58.255

[14693 rows x 102 columns]
1       -34
4         1
6       -13
13      -36
15       -1
         ..
52025     9
52026   -12
52028    -7
52030    -6
52035   -14
Name: Point Differential, Length: 14693, dtype: int64

In [6]:
input_shape = [x_train.shape[1]]

In [7]:
model = tf.keras.Sequential([
    normalizer,
    tf.keras.layers.Dense(units = 64, activation = 'relu', input_shape = input_shape),
    tf.keras.layers.Dense(units = 64, activation = 'relu'),
    tf.keras.layers.Dense(units = 1)
])
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 normalization (Normalizatio  (None, 102)              205
 n)

 dense (Dense)               (None, 64)                6592

 dense_1 (Dense)             (None, 64)                4160

 dense_2 (Dense)             (None, 1)                 65

=================================================================
Total params: 11,022
Trainable params: 10,817
Non-trainable params: 205
_________________________________________________________________

In [8]:
model.compile(optimizer =tf.keras.optimizers.Nadam(learning_rate=0.00006), loss = 'mse')
losses = model.fit(x_train, y_train, validation_data = (x_test, y_test), batch_size = 256, epochs=15)

Epoch 1/15
134/134 [==============================] - 2s 7ms/step - loss: 214.0559 - val_loss: 199.7396
Epoch 2/15
134/134 [==============================] - 1s 6ms/step - loss: 189.9401 - val_loss: 171.7801
Epoch 3/15
134/134 [==============================] - 1s 5ms/step - loss: 159.7377 - val_loss: 141.7907
Epoch 4/15
134/134 [==============================] - 1s 5ms/step - loss: 134.0196 - val_loss: 122.3990
Epoch 5/15
134/134 [==============================] - 1s 5ms/step - loss: 120.9252 - val_loss: 115.1469
Epoch 6/15
134/134 [==============================] - 1s 5ms/step - loss: 116.4352 - val_loss: 112.8078
Epoch 7/15
134/134 [==============================] - 1s 5ms/step - loss: 114.6430 - val_loss: 111.6278
Epoch 8/15
134/134 [==============================] - 1s 5ms/step - loss: 113.5327 - val_loss: 110.8121
Epoch 9/15
134/134 [==============================] - 1s 5ms/step - loss: 112.7288 - val_loss: 110.1864
Epoch 10/15
134/134 [==============================] - 1s 5ms/step - loss: 112.1002 - val_loss: 109.7037
Epoch 11/15
134/134 [==============================] - 1s 5ms/step - loss: 111.5940 - val_loss: 109.3205
Epoch 12/15
134/134 [==============================] - 1s 5ms/step - loss: 111.1698 - val_loss: 109.0053
Epoch 13/15
134/134 [==============================] - 1s 5ms/step - loss: 110.8060 - val_loss: 108.7341
Epoch 14/15
134/134 [==============================] - 1s 5ms/step - loss: 110.4934 - val_loss: 108.5062
Epoch 15/15
134/134 [==============================] - 1s 5ms/step - loss: 110.2177 - val_loss: 108.3082

In [9]:
model.predict(x_test.iloc[0:9, :])

1/1 [==============================] - 0s 130ms/step

array([[-23.910986 ],
       [-14.563387 ],
       [-14.907513 ],
       [-23.191916 ],
       [ -4.8469462],
       [ -0.8570383],
       [ -2.5706596],
       [  3.302521 ],
       [  4.0184846]], dtype=float32)

In [10]:
y_test.iloc[0:9]

1    -34
4      1
6    -13
13   -36
15    -1
20   -11
23    -6
25    -7
27   -30
Name: Point Differential, dtype: int64